.colorOption {
  width: 80px;
  height: 80px;
  border-radius: var(--radius);
  cursor: pointer;
  box-shadow: var(--shadow-md);
  transition: transform 0.2s;
  border: none;
}

.colorOption:hover {
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .colorOption {
    width: 60px;
    height: 60px;
  }
}
